<%- include('../partials/header') %>

<section id="show-page">
  <div class="game-title"><%= game.title %></div>
  <div ><img src="<%= game.image %>" alt="Game Cover" style="width: 350px; height: 440px;"></div>
  <div class="game-date">Release Date: </div>
  <div class="game-details"><%= game.releaseDate.toLocaleDateString() %></div>
  <div class="game-creator">Created By:</div>
  <div class="game-details"><%= game.creator %></div>
  <div class="game-rating">Rating: </div>
  <% if (game.reviews.length) { %>
    <% let total = 0 %>
    <% game.reviews.forEach(function(g) { %>
        <% total += g.rating %>
    <% }) %>
    <% game.rating = (total / game.reviews.length).toFixed(1)  %>
    <div class="game-details" id="rating"><%= game.rating %></div>
    <% } else { %>
        <div>No Ratings Yet</div>
        <% } %>

  <br><br><h2>Reviews</h2>
<form class="col2" id="add-review-form" method="POST"
  action="/reviews/games/<%= game._id %>">
  <label>Review:</label>
  <textarea name="content"></textarea>
  <label>Rating:</label>
  <select name="rating">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10" selected>10</option>
  </select>
  <input type="submit" value="Add Review">
</form>

<% if (game.reviews.length) { %>
    <table class="col2">
      <thead>
        <tr>
          <th>User</th>
          <th>Date</th>
          <th>Review</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody>
        <% game.reviews.forEach(function(g) { %>
          <tr>
            <td class="review-user"><img alt="avatar" src="<%= g.userAvatar %>" referrerpolicy="no-referrer"><%= g.userName %></td>
            <td class="reviews-content"><%= g.createdAt.toLocaleDateString() %></td>
            <td class="reviews-content"><%= g.content %></td>
            <td class="reviews-content"><%= g.rating %></td>
            <td>
                <% if (user?._id.equals(g.user)) { %>
                  <form action="/reviews/games/<%= g._id %>?_method=DELETE" method="POST">
                    <button id="delete-button" type="submit">X</button>
                  </form>
                <% } %>
              </td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } else { %>
    <h5>No Reviews Yet</h5>
  <% } %>
  
<%- include('../partials/footer') %>
